---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd-prod-1
resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.1/manifests/install.yaml
  - Ingress.yaml
patches:
  - target:
      kind: ClusterRoleBinding
      name: argocd-application-controller
    patch: |
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: argocd-application-controller
      subjects:
        - kind: ServiceAccount
          name: argocd-application-controller
          namespace: argocd-prod-1
  - target:
      kind: CustomRoleBinding
      name: argocd-applicationset-controller
    patch: |
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: argocd-applicationset-controller
      subjects:
        - kind: ServiceAccount
          name: argocd-applicationset-controller
          namespace: argocd-prod-1
  - target:
      kind: ClusterRoleBinding
      name: argocd-server
    patch: |
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: argocd-server
      subjects:
      - kind: ServiceAccount
        name: argocd-server
        namespace: argocd-prod-1
  - target:
      kind: ConfigMap
      name: argocd-cmd-params-cm
    patch: |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: argocd-cmd-params-cm
      data:
        server.insecure: "true"
  - target:
      kind: Deployment
      name: argocd-server
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: argocd-server
      spec:
        template:
          spec:
            containers:
              - name: argocd-server
                args:
                  - /usr/local/bin/argocd-server
                  - --insecure
