---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-prod-1
  namespace: argocd-prod-1
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 81.5.0
    helm:
      valueFiles:
        - $values/prometheus-prod-1/values.yaml
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 81.5.0
      helm:
        valueFiles:
          - $values/prometheus-prod-1/values.yaml
    - repoURL: https://github.com/rafalpo/homelab.git
      targetRevision: master
      ref: values
  destination:
    namespace: prometheus-prod-1
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
